* {
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.nav1 {
  position: fixed;
  z-index: 4;
  line-height: 60px;
  width: 100%;
  height: 60px;
}

.nav1-left {
  height: 60px;
  float: left;
  margin-left: 40px;
}

.nav1-left img {
  margin-top: 10px;
  margin-left: 20px;
  height: 120px;
  width: 70px;
}

.nav1-right {
  height: 60px;
  float: right;
  margin-right: 40px;
}

.nav1-content {
  display: flex;
}

.dialogBtn {
  margin-left: 27%;
}
.wrapper {
  height: 100%;
}

.content1 {
  position: relative;
  padding-top: 60px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 15px;
  font-size: 60px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.searchBox {
  float: left;
  position: absolute;
  z-index: 1;
  margin: 0 35%;
  background-color: rgb(255, 255, 255);

  width: 30%;
  height: 56px;
}

.searchBox-content {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border-radius: 28px;
  line-height: 56px;
  border: 1px solid rgb(233, 232, 232);
  box-shadow: 10px 10px 50px 0 rgb(214, 214, 214);
}

.searchBox-content:hover {
  box-shadow: 10px 10px 50px 0 rgb(212, 231, 252);
}

.radius {
  width: 100%;
  height: 100%;
  line-height: 56px;
}
.radius span {
  margin-left: 20px;
}
.searchBox-content img {
  margin-top: 5px;
  height: 20px;
}

.searchBox-content input {
  height: 40px;
  border: none;
  margin-left: 5px;
  width: 100%;
}

.searchBox-content input:focus {
  color: #000;
  outline: 0;
}

.swiper1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.swiper1-content {
  width: 200px;
  height: 100%;
  margin: 0 10px 0;
}

.margin {
  box-sizing: border-box;
  border-radius: 15px;
  width: 200px;
  height: 4448px;
  overflow: hidden;
  margin-top: 10px;
}

.slider {
  width: 200px;
  height: 4400px;

  /* transform: translateY(-948px); */
}

.slider img {
  width: 200px;
  height: 300px;
  margin-bottom: 15px;
  border-radius: 15px;
}
.slider img:hover {
  transform-origin: center;
  
    transform-box: fill-box;
transform: scale(2,2);
}

.shadow {
  float: left;
  position: absolute;
  z-index: 1;
  margin: 350px 0 0;
  background-image: linear-gradient(0deg, white, white, transparent);
  width: 100%;
  height: 600px;
}

.footer {
  float: left;
  position: absolute;
  z-index: 2;
  margin: 615px 0 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.footer h3 {
  display: inline-block;
  margin-left: 60px;
  margin-right: 20px;
}
